<!DOCTYPE html>
<html>
<head>

  <title>Rock, Paper, Scissors</title>
  <link rel="stylesheet" href="style.css"/>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
<body>
  <h1> Let's play... ROCK, PAPER, SCISSORS! </h1>
  <img src="http://www.artworkscincinnati.org/media/RockPaperScissors.jpg" width="700">
</body>

</html>
