<!DOCTYPE html>
<html>
<head>

  <title>Rock, Paper, Scissors</title>
  <link rel="stylesheet" href="stylesheets/style.css"/>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
<body>
  <img src="images/RockPaperScissors.jpg" width="700">
  <h1> And the winner is... <%- game.result() %></h1>
  You chose: <%- game.playerChoice %> and Computer chose: <%- game.computerChoice %><br>

  <a href="/">Play Again</a>
</body>

</html>
